@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative&family=Edu+SA+Beginner&family=IM+Fell+English+SC&family=Lobster+Two&family=Merienda+One&family=Monoton&family=Press+Start+2P&family=Roboto+Condensed:ital@0;1&family=Rubik+Mono+One&family=Space+Mono&display=swap');
.bsbCardrow{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: auto;  
    max-width: 95%;
    padding: 0.5rem 1rem 0.5rem 1 rem;
    
}